@import '../../styles/definitions/breakpoints';
@import '../../styles/definitions/colors';
@import '../../styles/modifiers/background';
@import '../../styles/modifiers/text';
@import '../../styles/definitions/fonts';
@import "../../styles/modifiers/animations";

.component {
  padding-bottom: 5.5rem;
  
  &:hover {
    .title {
      color: $white;
    }
    .image {
      transform: scale(1.05);
    }
  }

  @media (#{$min_tablets}) {
    padding-bottom: 0;
  }
}

.image_wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 85%;

  &:before {
    content: "";
    background-color: $blue-filter;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  @media (#{$min-tablets}) {
    padding-top: 70.68%;
  }
}

.image {
  position: absolute;
  top: 0;
  left: -1.5rem;
  width: calc(100% + 1.5rem);
  height: calc(100% + 1rem);
  z-index: 1;
  transition: all ease-in-out 0.6s;
}

.title {
  position: absolute;
  bottom: 3.25rem;
  left: 1.875rem;
  @include font_loader($primary-family, 7, 'n');
  z-index: 3;
  transition: all 0.18s ease-in-out;

  @media (#{$min_tablets}) {
    bottom: 15.8%;
    left: 11%;
  }
}

.offset {
  background-position: 0 62% ; 
}

.address {
  &_text {
    line-height: 1.8rem;
  }

  &_container {
    margin-top: 1.5rem;
    margin-left: 1.875rem;

    @media (#{$min-tablets}){
      margin-top: 2.25rem;
      margin-left: 0;
      padding-left: 11%;
    }
  }
}

.directions_link {
  display: inline-block;
  text-decoration: underline;

  &:hover, &:active {
    color: $primary;
    text-decoration-color: $primary;
  }
}

.col4 {
  width: 100%;

  @media (#{$min_tablets}) {
    width: (100% / 3);
  }
}