@import '../../styles/definitions/colors';
@import '../../styles/modifiers/animations';
@import '../../styles/definitions/breakpoints';

.component {
  position: fixed;
  top: 110px;
  right: 25px;
  transform: rotate(-90deg);
  transform-origin: 145%;
  height: 120px;
  display: block;
  font-size: 0.5625rem;
  line-height: 1.5rem;
  letter-spacing: 2px;
  color: $gray;
  text-transform: uppercase;
  z-index: 200;
  transition: visibility 0.3s, opacity 0.3s;

  @media (#{$min_laptop}) {
    top: 210px;
    right: 75px;
  }
}

.arrows {
  height: 10px;
  width: 9px;
  bottom: -2px;
  right: 10px;
  position: relative;
  transition: all 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955);
}