@import '../../styles/definitions/breakpoints';
@import '../../styles/modifiers/background';
@import '../../styles/definitions/colors';
@import "../../styles/modifiers/animations";

$header-gutter: 1.5rem;

.container {
  padding: 0.9375rem 0 5rem;

  @media (#{$min-tablets}) {
    padding: 5rem 0 12rem;
  }
}

.header_row {
  @media (#{$max-tablets}) {
    padding-left: 1.5rem;
  }
}

.row {
  @media (#{$max-tablets}) {
    justify-content: center;
    margin: 0;
  }
}

.footer {
  height: 40px;
  width: 100%;
  
  background-repeat: repeat;
  background-size: 1200px;
  background-position: 0 -35px; 
}

.title,
.subtitle {
  display: inline-block;
  padding-bottom: 4rem;
}

.subtitle {
  color: $gray-light;
  margin-left: 5rem
}