$site-width: 1262px;
$gutter: 24px;
$gutter_desktop: 32px;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  color: $base-font-color;
  line-height: 1.375;
  font-size: $base-font-size;
  @include font_loader($primary-family, 3, 'n');

  &.state-fixed {
    overflow: hidden;
  }

  &.state-modal-active {
    position: relative;
    overflow: hidden;
  }
}

.modal--active {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($white, 0.6);
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: auto;
  z-index: 200;

  .site__main {

    @media (#{$min_tablets}) {
      height: auto;
    }
  }
}

a {
  &, &:hover, &:focus {
    color: inherit;
  }
}

.site__main {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  
  @media (#{$min_tablets}) {
    min-height: calc(100vh - 220px)
  }
  @media (#{$min_laptop}) {
    max-width: 2500px;
  }

  &--inverse-nav {
    top: -90px;
    margin-bottom: -90px;
    margin-top: 0;
  }
}

.visible-only--desktop {
  @media (#{$max_tablets}) {
    display: none;
  }
}

.visible-only--mobile {
  @media (#{$min_tablets}) {
    display: none;
  }
}

.col {
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: $gutter;
  padding-left: $gutter;

  @media (#{$min_tablets}) {
    flex-grow: 1;
    flex-basis: 33%;
    padding-right: $gutter-desktop;
    padding-left: $gutter-desktop;
  }
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: $gutter;
  padding-left: $gutter;

  @media (#{$min_tablets}) {
    padding-right: $gutter-desktop;
    padding-left: $gutter-desktop;
  }

  &--flush {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-6 {
  flex: 0 0 100%;
  max-width: 50%;
  padding-right: $gutter;
  padding-left: $gutter;

  @media (#{$min_tablets}) {
    padding-right: $gutter-desktop;
    padding-left: $gutter-desktop;
  }
}
