@import '../styles/definitions/breakpoints';
@import '../styles/definitions/whitespace';

$cover-gutter: 1.5rem;
$desktop-gutter: 2rem;

.section {
  padding: 6.25rem $cover-gutter 0;

  @media (#{$min-tablets}) {
    padding: 7.5rem $desktop-gutter 10rem;
  }
}

.row {
  &__title {
    @media(#{$min-tablets}) {
      margin-left: -1rem;
    }
  }
  
  &__body {
    margin-top: 2rem;
    @media(#{$min-tablets}) {
    margin-left: 1.25rem;
    margin-top: 2.625rem;
    }
  }
}

.body {
  max-width: 58.5rem;
}

.container {
  position: relative;
}