@import "../../styles/definitions/breakpoints";
@import "../../styles/definitions/mixins";
@import "../../styles/definitions/fonts";
@import "../../styles/definitions/colors";
@import "../../styles/definitions/keyframes";

$header_height_mobile: 60px;
$header_height: 100px;

$header_gutter: 24px;
$gutter_desktop: 32px;

.container {
  line-height: 42px;
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right_box {
  position: relative;
  z-index: 10;
  height: 100%;
}

.center_box {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.left_box {
  position: relative;
  z-index: 100;
}

.logo_box {
  max-width: 300px;
  display: flex;
  align-items: center;
  height: $header_height_mobile;

  @media (#{$min_tablets}) {
    height: $header_height;
  }
}

.logo_image {
  max-width: 100%;
  max-height: 22px;
  line-height: $header_height_mobile;
  height: 100%;

  @media (#{$min_tablets}) {
    max-height: 30px;
    line-height: $header_height;
  }
}

.item__desktop {
  @media (#{$max_tablets}) {
    display: none;
  }
}

.item__mobile {
  @media (#{$min_tablets}) {
    display: none;
  }
}

.state_opened {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 100;
  top: 0;
  left: 0;

  
  .right_box {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left_box {
    display: none;
  }
}

.site__header {
  z-index: 100;
  background-color: $white;
  min-height: $header_height_mobile;
  padding: 0 $header_gutter;
  position: fixed;
  width: 100%;
  top: 0;

  &.state_fixed {
    box-shadow: 3px 3px 1rem rgba(0,0,0, 0.15);
    height: $header_height_mobile;

    .logo_box {
      height: $header_height_mobile;
    }

    @media(#{$min-tablets}) {
      height: $header_height;

      .logo_box {
        height: $header_height;
      }
    }
  }

  @media (#{$min_tablets}) {
    min-height: $header_height;
    padding: 0 $gutter_desktop;
  }
}
