@import '../../styles/definitions/breakpoints';
@import '../../styles/definitions/colors';
@import '../../styles/definitions/whitespace';

.component {
  margin: 0.75rem 0;
  padding: 0.75rem 0;
  max-width: 40rem;

  @media (#{$min_tablets}) {
    margin-left: 3.6rem;
  }
  &:hover {
    cursor: pointer;
    color: $primary;
  }
}

.publishDate {
  padding-top: 0.6rem;
}